@import 'src/assets/variables_baseline/colors';

:host {
  display: flex;
  justify-content: center;
  padding-top: 77px;

  .login-container {
    &__box {
      width: 856px;
      background-color: $background-color;
      display:flex;
      flex-direction: column;
      align-items: center;

      &__title {
        color: $primary;
        width: 100%;
        text-align: center;
        font-size: 96px;
        font-weight: 700;
        padding-top: 105px;
        padding-bottom: 135px;
      }

      input {
        width: 441px;
        padding: 20px;
        font-size: 32px;
        margin-bottom: 45px;
      }
    }


  }

}

