<div class="box-container">
  <h1 class="box-container__title  main-title">iMedicine</h1>
  <div class="box-container__cards-container">
    <div class="box-container__cards-container__card">
      <p-card>
        <im-add-prescription></im-add-prescription>
      </p-card>
    </div>
    <div class="box-container__cards-container__card">
      <p-card>
        <im-prescription-dialog-box></im-prescription-dialog-box>
      </p-card>
    </div>
  </div>

  <div class="box-container__cards-container">
    <div class="box-container__cards-container__card">
      <p-card>
        <im-add-medicine></im-add-medicine>
      </p-card>
    </div>
    <div class="box-container__cards-container__card">
      <p-card>
        <im-edit-medicine></im-edit-medicine>
      </p-card>
    </div>
  </div>
</div>


